* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.landing {
  display: flex;
  background-image: url(https://i.pinimg.com/originals/91/aa/59/91aa59409a2a2696e69dc2093ddc0464.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  display: flex;
  background: rgba(2, 2, 2, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px;
  width: 30%;
  min-width: 300px;
  flex-direction: column;
}

.images {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

h2 {
  padding: 10%;
  display: flex;
  justify-content: center;
  font-size: 200%;
}

p {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5%;
  font-size: 50px;
}

@media screen and (max-width: 900px) {
  /* .card {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 80%;
  } */

  h2 {
    font-size: 100%;
  }
}
